<!doctype html>
<head>
  <script>
  function check_username()
  {
	var check_username_request=new XMLHttpRequest();
	check_username_request.onreadystatechange=function()
	{	
 		if (check_username_request.readyState==4)
 		{
  			if (check_username_request.status==200)
			{
				var check_username_result=JSON.parse(check_username_request.responseText);
   				document.getElementById("username_availability").innerHTML=check_username_result.result;
  			}
  			else
  			{
  	 			alert("An error has occured making the request")
  			}
 		}
	}
	var username=document.getElementById("username").value;
	var parameters="username="+username;
	check_username_request.open("POST", "/username_availability_for_login", true);
	check_username_request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	check_username_request.send(parameters);
  };

  function login()
  {
	var login_attempt=new XMLHttpRequest();
	login_attempt.onreadystatechange=function()
	{	
 		if (login_attempt.readyState==4)
 		{
  			if (login_attempt.status==200)
			{
				var login_status=JSON.parse(login_attempt.responseText);
   				document.getElementById("login_status").innerHTML=login_status.result;
				if (login_status.result=="Successfully logged in")
					alert("I am here");
					window.location.href="/profile";
  			}
  			else
  			{
  	 			alert("An error has occured making the request");
  			}
 		}
	}
	var username=document.getElementById("username").value;
	var password=document.getElementById("password").value;
	var parameters="&username="+username+"&password="+password;
	login_attempt.open("POST", "/login_attempt", true);
	login_attempt.setRequestHeader("Content-type","application/x-www-form-urlencoded")
	login_attempt.send(parameters)
  };

  </script>
</head>

  <title> Login </title>
  <h1> Login </h1>

  <form method="post" action="">
  Username : <input type="text" id="username" name="username" size="25" placeholder="username" onchange="check_username()"/>
  <div id="username_availability" ></div>
  <br/>
  Password : <input type="password" id="password" name="password" size="25" placeholder="password" />
  <br/><br/>
  <input type="button" value="Login" onclick=login() />
  <div id="login_status" ></div>
  </form>

